# 系统文件
.DS_Store
Thumbs.db
*.lnk

# 编辑器临时文件
*~
.*.swp
.*.swo
*.tmp
*.bak
*.cache

# Obsidian 缓存
.obsidian/cache/
.obsidian/workspace
.obsidian/workspace.json

# 编译产物
*.exe
*.dll
*.zip
*.rar
*.7z

# 其他
.smart-env



# Ignore Smart Environment folder
.smart-env